
.dragonballsuper
{
position:absolute;
background-color:#fcdc8c;
height:1024px;
width:1440px;
padding:0px;
}
.thecardaddict
{
background-color:#fcdc8c;
height:152px;
width:972px;
padding:0px;
border-style:hidden;
outline:none;
left:258px;
top:33px;
position:absolute;
}
.thecardaddict2
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:100px;
font-family:Saiyan Sans;
line-height:auto;
border-style:hidden;
outline:none;
width:972px;
}
.rectangle1
{
background-color:#fbdc8b;
height:692px;
width:345px;
border:1px solid #000000;
top:185px;
left:23px;
position:absolute;
}
.productline
{
color:#0803ff;
text-align:center;
vertical-align:text-top;
font-size:40px;
font-family:Comic Sans MS;
left:34px;
top:202px;
width:323px;
height:77px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle2
{
background-color:#ffffff;
height:69px;
width:285px;
padding:0px;
border-style:hidden;
outline:none;
top:332px;
left:53px;
position:absolute;
}
.rectangle22
{
background-color:#000000;
height:69px;
width:285px;
}
.rectangle3
{
background-color:#ffffff;
height:69px;
width:285px;
padding:0px;
border-style:hidden;
outline:none;
top:453px;
left:53px;
position:absolute;
}
.rectangle32
{
background-color:#000000;
height:69px;
width:285px;
}
.rectangle4
{
background-color:#ffffff;
height:69px;
width:285px;
padding:0px;
border-style:hidden;
outline:none;
top:583px;
left:53px;
position:absolute;
}
.rectangle42
{
background-color:#000000;
height:69px;
width:285px;
}
.dragonballsuper2
{
color:#ff0000;
text-align:center;
vertical-align:text-top;
font-size:36px;
font-family:Saiyan Sans;
left:60px;
top:350px;
width:271px;
height:60px;
position:absolute;
line-height:auto;
border:1px solid #000000;
}
.pokemon
{
color:#0093ff;
text-align:center;
vertical-align:text-top;
font-size:36px;
font-family:Saiyan Sans;
left:60px;
top:471px;
width:271px;
height:60px;
position:absolute;
line-height:auto;
border:1px solid #000000;
}
.yu-gi-oh
{
color:#00ffa3;
text-align:center;
vertical-align:text-top;
font-size:36px;
font-family:Saiyan Sans;
left:60px;
top:601px;
width:271px;
height:60px;
position:absolute;
line-height:auto;
border:1px solid #000000;
}
.rectangle5
{
background-color:#fcdc8c;
height:696px;
width:788px;
border:1px solid #000000;
top:185px;
left:396px;
position:absolute;
}
.rectangle6
{
height:250px;
width:182px;
left:451px;
top:225px;
position:absolute;
}
.image1
{
height:279px;
width:200px;
left:442px;
top:533px;
position:absolute;
}
.dragonballsuperccgpowerabsorbedsecretrareyouarenumberedonemarketprice:$300
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:24px;
font-family:Saiyan Sans;
left:720px;
top:538px;
width:283px;
height:274px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.dragonballsuperccgpowerabsorbedsecretraregoldencooler,radiantmarketprice:$800
{
color:#black;
text-align:center;
vertical-align:text-top;
font-size:24px;
font-family:Saiyan Sans;
left:720px;
top:222px;
width:283px;
height:274px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.dragonballsuper2
{
color:#ff0000;
text-align:center;
vertical-align:text-top;
font-size:36px;
font-family:Saiyan Sans;
left:60px;
top:350px;
width:271px;
height:60px;
position:absolute;
line-height:auto;
border:1px solid #000000;
}


.rectangle7
{
background-color:#ffffff;
height:95px;
width:140px;
padding:0px;
border-style:hidden;
outline:none;
left:1227px;
top:90px;
position:absolute;
}
.rectangle72
{
height:95px;
width:140px;
width:140px;
height:95px;
}
