.home
{
position:absolute;
background-color:#fbdc8b;
height:1024px;
width:1440px;
padding:0px;
}
.rectangle1
{
background-color:#fbdc8b;
height:692px;
width:345px;
border:1px solid #000000;
left:28px;
top:193px;
position:absolute;
}
.productline
{
color:#0803ff;
text-align:center;
vertical-align:text-top;
font-size:40px;
font-family:Comic Sans MS;
left:39px;
top:210px;
width:323px;
height:77px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle2
{
background-color:#ffffff;
height:69px;
width:285px;
padding:0px;
top:340px;
left:58px;
position:absolute;
}
.rectangle22
{
background-color:#000000;
height:69px;
width:285px;
}
.rectangle3
{
background-color:#ffffff;
height:69px;
width:285px;
padding:0px;
top:461px;
left:58px;
position:absolute;
}
.rectangle32
{
background-color:#000000;
height:69px;
width:285px;
}
.rectangle4
{
background-color:#ffffff;
height:69px;
width:285px;
padding:0px;
top:591px;
left:58px;
position:absolute;
}
.rectangle42
{
background-color:#000000;
height:69px;
width:285px;
}
.dragonballsuper
{
color:#ff0000;
text-align:center;
vertical-align:text-top;
font-size:36px;
font-family:Saiyan Sans;
left:65px;
top:358px;
width:271px;
height:60px;
position:absolute;
line-height:auto;
border:1px solid #000000;
}
.pokemon
{
color:#0093ff;
text-align:center;
vertical-align:text-top;
font-size:36px;
font-family:Saiyan Sans;
left:65px;
top:479px;
width:271px;
height:60px;
position:absolute;
line-height:auto;
border:1px solid #000000;
}
.yu-gi-oh
{
color:#00ffa3;
text-align:center;
vertical-align:text-top;
font-size:36px;
font-family:Saiyan Sans;
left:65px;
top:609px;
width:271px;
height:60px;
position:absolute;
line-height:auto;
border:1px solid #000000;
}
.thecardaddict
{
background-color:#fbdc8b;
height:152px;
width:972px;
padding:0px;
top:33px;
left:258px;
position:absolute;
}
.thecardaddict2
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:100px;
font-family:Saiyan Sans;
line-height:auto;
border-style:hidden;
outline:none;
width:972px;
}
.rectangle5
{
height:250px;
width:637px;
left:532px;
top:156px;
position:absolute;
}
.rectangle6
{
height:250px;
width:637px;
left:532px;
top:418px;
position:absolute;
}
.rectangle7
{
height:302px;
width:637px;
left:532px;
top:692px;
position:absolute;
}
.rectangle8
{
background-color:#ffffff;
height:95px;
width:140px;
padding:0px;
border-style:hidden;
outline:none;
left:1230px;
top:62px;
position:absolute;
}
.rectangle72
{
height:95px;
width:140px;
width:140px;
height:95px;
}
