.yu-gi-oh
{
position:absolute;
background-color:#fcdc8c;
height:1024px;
width:1440px;
padding:0px;
}
.thecardaddict
{
background-color:#fcdc8c;
height:152px;
width:972px;
padding:0px;
border-style:hidden;
outline:none;
left:258px;
top:33px;
position:absolute;
}
.thecardaddict2
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:100px;
font-family:Saiyan Sans;
line-height:auto;
border-style:hidden;
outline:none;
width:972px;
}
.rectangle1
{
background-color:#fbdc8b;
height:692px;
width:345px;
border:1px solid #000000;
top:185px;
left:24px;
position:absolute;
}
.productline
{
color:#0803ff;
text-align:center;
vertical-align:text-top;
font-size:40px;
font-family:Comic Sans MS;
left:35px;
top:202px;
width:323px;
height:77px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle2
{
background-color:#ffffff;
height:69px;
width:285px;
padding:0px;
border-style:hidden;
outline:none;
top:332px;
left:54px;
position:absolute;
}
.rectangle22
{
background-color:#000000;
height:69px;
width:285px;
}
.rectangle3
{
background-color:#ffffff;
height:69px;
width:285px;
padding:0px;
border-style:hidden;
outline:none;
top:453px;
left:54px;
position:absolute;
}
.rectangle32
{
background-color:#000000;
height:69px;
width:285px;
}
.rectangle4
{
background-color:#ffffff;
height:69px;
width:285px;
padding:0px;
border-style:hidden;
outline:none;
top:583px;
left:54px;
position:absolute;
}
.rectangle42
{
background-color:#000000;
height:69px;
width:285px;
}
.dragonballsuper
{
color:#ff0000;
text-align:center;
vertical-align:text-top;
font-size:36px;
font-family:Saiyan Sans;
left:61px;
top:350px;
width:271px;
height:60px;
position:absolute;
line-height:auto;
border:1px solid #000000;
}
.pokemon
{
color:#0093ff;
text-align:center;
vertical-align:text-top;
font-size:36px;
font-family:Saiyan Sans;
left:61px;
top:471px;
width:271px;
height:60px;
position:absolute;
line-height:auto;
border:1px solid #000000;
}
.yu-gi-oh2
{
color:#00ffa3;
text-align:center;
vertical-align:text-top;
font-size:36px;
font-family:Saiyan Sans;
left:61px;
top:601px;
width:271px;
height:60px;
position:absolute;
line-height:auto;
border:1px solid #000000;
}
.rectangle5
{
background-color:#fcdc8c;
height:696px;
width:788px;
border:1px solid #000000;
top:185px;
left:410px;
position:absolute;
}
.image2
{
height:279px;
width:189px;
left:465px;
top:225px;
position:absolute;
}
.image3
{
height:279px;
width:194px;
left:456px;
top:533px;
position:absolute;
}
.yu-gi-ohking’scourtultrapharaoh’srareobeliskthetormentormarketprice:$12
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:24px;
font-family:Saiyan Sans;
left:734px;
top:538px;
width:283px;
height:274px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.yu-gi-ohking’scourtultrapharaoh’srareslifertheskydragonmarketprice:$33
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:24px;
font-family:Saiyan Sans;
left:734px;
top:222px;
width:283px;
height:274px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle7
{
background-color:#ffffff;
height:95px;
width:140px;
padding:0px;
border-style:hidden;
outline:none;
left:1242px;
top:90px;
position:absolute;
}
.rectangle72
{
height:95px;
width:140px;
width:140px;
height:95px;
}
